<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>octokid</strong> by <a href="">Vitaly Lyapunov</a>. The website powered by <a href="https://github.com/octokit/octokit.rb">octokit.rb</a>.
    </p>
  </div>
</footer>
