<nav class="navbar bd-navbar">
  <div class="navbar-brand">
    <p class="navbar-item subtitle is-4">
      <a href="/">octokid</a>
    </p>
  </div>
  <div class="navbar-start">
    <form action="/search" method="GET" class="navbar-item">
      <input class="input is-rounded mgr-small" type="text" name="query" placeholder="Search Github repos">
      <input type="submit" value="Search" class="button is-link is-rounded"/>
    </form>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <a href="https://github.com/stokwell/octokid">Source Code</a>
  </div>
</nav>
